experiments/*
!experiments/**/
!experiments/**/*.ipynb
experiments/**/.ipynb_checkpoints/

src/.idea/*
src/__pychache__/
src/test/*
src/cache/*
src/result.txt
src/images/*

experiments/**/runs/
experiments/**/tests/

experiments/**/*.pt
experiments/**/*.png
experiments/**/*.jpg
experiments/**/*.jpeg
experiments/**/*.Identifier